<p>All Jobs
<% if @company %>
for <%= @company.name %>
<% end %>
</p>
<% @jobs.each do |job| %>
  <ul>
    <%= link_to job.title, job_path(job) %>
    <%= link_to "Edit", edit_job_path(job) %>
    <%= link_to "Delete", job_path(job), method: "delete" %>
  </ul>
<% end %>
