<h3>All Companies</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Make changes</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <th scope="row"><%= link_to company.name, company_path(company) %></th>
      <td>
        <%= link_to "Edit", edit_company_path(company) %>
        <%= link_to "Delete", company_path(company), method: "delete" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
